<a  href="/" class="link"><img src="http://res.cloudinary.com/dustxxgvx/image/upload/c_scale,w_688/v1519965140/diana_wedding/dianalogo.png" alt="logo"></a> <!-- logo also acts as a reset button for the page (reloads by not using routerLink) -->
<nav class="navbar navbar-default navbar-fixed-top"
[style.backgroundColor]="'rgba(212, 175, 55, '+opacityAmmount+')'"
[ngClass]="{'sticky': isFixed, 'nonsticky':!isFixed }" role="navigation"  *ngIf="enabled">
  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" (click) = "isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="text-align: center;" >
      <div class="center-nav">
        <ul class="nav navbar-nav" >
          <li><a (click) = "isCollapsed = true" routerLink="/about" [routerLinkActive]="['active']">About Us</a></li>
          <li><a (click) = "isCollapsed = true" routerLink="/services" [routerLinkActive]="['active']">Services</a></li>
          <li><a (click) = "isCollapsed = true" routerLink="/portfolio" [routerLinkActive]="['active']">Portfolio</a></li>
          <li><a (click) = "isCollapsed = true" routerLink="/testimonials" [routerLinkActive]="['active']">Testimonials</a></li>
          <li><a (click) = "isCollapsed = true" routerLink="/contact" [routerLinkActive]="['active']">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="spacecontent"></div>