.navbar {
    background-color: #FFF0F500;
    z-index: 3;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Playfair Display', serif;
}

.nonsticky{
    position: absolute;
    margin-top:118px;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.sticky{
    position: fixed;
}

.navbar li a, .navbar .navbar-brand {
    font-family: 'Playfair Display', serif;

    color: #EEE8AA;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    font-family: 'Playfair Display', serif;

    color: #996515 ;
    background-color: #fff ;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.center-nav{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

a{
    font-size:18px;
}

img{
    position: relative;
    margin:10px 0 10px 0;
    z-index: 3;
    height:100px;
}

.active{
    background-color:	#fff;
    color:#996515 !important;
}

.spacecontent{
    height:48px;
}