a{
    font-size:18px;
}

.non-collapse-img{
    position: relative;
    margin:-20px auto 0px auto;
    bottom:-68px;
    z-index: 3;
    height:180px;
    background-position: center center;
    max-height: 100%;
    max-width: 100%;
    /**animation properties**/
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
}

.collapse-img{
    position: relative;
    margin:-68px auto 0px auto;
    bottom:-68px;
    z-index: 3;
    height:250px;
    background-position: center center;
    max-height: 100%;
    max-width: 100%;
    /**animation properties**/
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
}

.navbar {
    background-color: #FFF0F500;
    z-index: 3;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Playfair Display', serif;
    
}

.nonsticky{
    position: absolute;
    margin-top:0px;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.sticky{
    position: fixed;
}

.navbar li a, .navbar .navbar-brand {
    font-family: 'Playfair Display', serif;

    color: #EEE8AA;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    font-family: 'Playfair Display', serif;

    color: #996515 ;
    background-color: #fff ;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.center-nav{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}


.active{
    background-color:	#fff;
    color:#996515 !important;
}

.spacecontent{
    height:48px;
}
