<a  href="/" class="link"><img [ngClass]="{'collapse-img': isCollapsed, 'non-collapse-img':!isCollapsed }" src='https://res.cloudinary.com/dustxxgvx/image/upload/c_scale,h_603/v1564109038/diana_wedding/diana_logo.png' alt="logo"></a> <!-- logo also acts as a reset button for the page (reloads by not using routerLink) -->
<nav class="navbar navbar-default navbar-fixed-top"
[style.backgroundColor]="'rgba(212, 175, 55, '+opacityAmmount+')'"
[ngClass]="{'sticky': isFixed, 'nonsticky':!isFixed }" role="navigation"  *ngIf="enabled">
  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="text-align: center;" >
      <div class="center-nav">
        <ul class="nav navbar-nav" >
          <li data-toggle="collapse" data-target=".navbar-collapse.in"><a routerLink="/about" [routerLinkActive]="['active']">About Us</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in"><a routerLink="/planning" [routerLinkActive]="['active']">Planning and Design</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in"><a routerLink="/portfolio" [routerLinkActive]="['active']">Portfolio</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in"><a routerLink="/testimonials" [routerLinkActive]="['active']">Testimonials</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in"><a routerLink="/contact" [routerLinkActive]="['active']">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="spacecontent"></div>