<h2>Gallery</h2>
<hr>
<div style = "margin: 0 20% 0 20% ">
  <h4><i>At Simply Elegant we make sure our photographers capture the most joyful and important moments. Enjoy some of our favorite picks!</i></h4>
</div>

<div class="maindiv" (click)="onImageHide()">
    <div class="container">
      <div class="row">
        <div class="column col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <img *ngFor="let i of col1Counter" style="width:270px; " src="{{thumbnailUrl[i]}}" alt="{{i}}" (click) = "onImageClicked(i,$event)">
        </div>
        <div class="column col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <img *ngFor="let i of col2Counter" style="width:270px; " src="{{thumbnailUrl[i]}}" alt="{{i}}" (click) = "onImageClicked(i,$event)">
        </div>
        <div class="column col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <img *ngFor="let i of col3Counter" style="width:270px; " src="{{thumbnailUrl[i]}}" alt="{{i}}" (click) = "onImageClicked(i,$event)">
        </div>
      </div>
    </div>
    <app-footer></app-footer>
</div>

<div style="text-align: center;" *ngIf="isImageExpanded">
  <div class="largeimagecontainer" >
    <div class="fas fa-window-close" (click) = "onImageHide()"></div>
    <img class="largeimage" src="{{expandedImage}}" alt="largeImage" >
    <div class="fas fa-chevron-left" (click) = "onBackPressed($event)"><p>back</p></div><div class="fas fa-chevron-right" (click) = "onNextPressed($event)" ><p>next</p></div>
  </div>
</div>

