
<!-- Container (About Section) -->
<div class="maindiv">
    <div class="container">
      <h2>Services</h2>
      <h4>Simply Elegant has provided high-quality wedding planning services for over 5 years in the East Bay Area, including Berkeley, Oakland, Napa, San Jose, the Peninsula and the entire San Francisco Bay Area.
        We carefully listen to our client’s wishes, understand their vision and do everything we can to exceed our customers' expectations.
        No matter how big or small the occasion, we go above and beyond to make the planning process enjoyable and our customers’ special day as unique and memorable as they are.
        We strive to bring out the best of your ideal wedding day, whether you have been planning your big day since you were a child, or find yourself overwhelmed with the endless possibilities – we have a knack for focusing your dream into a reality.</h4>
    </div>
  </div>
  