<!-- Container (About Section) -->
<div class="maindiv">
  <div class="container">
    <div id="about" class="container-fluid bg-grey" >
      <div class="row">
        <div class="col-sm-12">
          <h2>Services</h2>
          <h4>Simply Elegant has provided high-quality wedding planning services for over 5 years in the East Bay Area, including Berkeley, Oakland, Napa, San Jose, the Peninsula and the entire San Francisco Bay Area.
              We carefully listen to our client’s wishes, understand their vision and do everything we can to exceed our customers' expectations.
              No matter how big or small the occasion, we go above and beyond to make the planning process enjoyable and our customers’ special day as unique and memorable as they are.
              We strive to bring out the best of your ideal wedding day, whether you have been planning your big day since you were a child, or find yourself overwhelmed with the endless possibilities – we have a knack for focusing your dream into a reality.</h4>
        </div>
        <br><br>

      </div>
    </div>
    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-6">
          <img src="http://res.cloudinary.com/dustxxgvx/image/upload/w_800,q_60,c_limit/v1519008587/diana_wedding/M2D_0762.jpg" alt="">
        </div>
        <div class="col-sm-6">
          <h3>Weddings</h3>
          <br>
          <p>From Full-Service or Partial Wedding Planning, to Day-Of Wedding Coordination Packages, 
              we offer a package that will fit your needs, no matter how much or how little you have planned!
              We dedicate ourselves to you every step of the way.
              Whether you need someone to take the reins completely, help focus your ideas into a plan of action, 
              or have it all thought out and just need someone to carry out the details – 
              Simply Elegant is here to make your special day as wonderful and stress-free as possible.</p>
        </div>
      </div>
    </div>
    <div id="about" class="container-fluid bg-grey" >
        <div class="row">
          <div class="col-sm-6">
            <h3>Special Events</h3>
            <br>
            <p>We offer planning services for your next corporate gathering, social event, holiday, retirement, and team building events!
                We also plan birthday parties, baby showers, anniversaries, and more! 
                Any occasion, anything you need, Simply Elegant can turn it into the perfect event for you and your friends, family or business associates.
                Whatever the affair, whatever the theme, we can assure you that your event will be suited to your needs, beautifully done, and simply…elegant.</p>
          </div>
          <br><br>
          <div class="col-sm-6">
            <img src="http://res.cloudinary.com/dustxxgvx/image/upload/w_800,q_60,c_limit/v1524541456/diana_wedding/Nicole_Blumberg_Photography_464_of_654.jpg" alt="">
          </div>
        </div>
      </div>
  </div>
  <app-footer></app-footer>

</div>

<!-- Container (Services Secion) 
<div class="maindiv">
  <h2>Services</h2>
  <hr>
  <div class="container">
    <div class="bg-grey">

      <h4>Simply Elegant has provided high-quality wedding planning services for over 5 years in the East Bay Area, including Berkeley, Oakland, Napa, San Jose, the Peninsula and the entire San Francisco Bay Area.
        We carefully listen to our client’s wishes, understand their vision and do everything we can to exceed our customers' expectations.
        No matter how big or small the occasion, we go above and beyond to make the planning process enjoyable and our customers’ special day as unique and memorable as they are.
        We strive to bring out the best of your ideal wedding day, whether you have been planning your big day since you were a child, or find yourself overwhelmed with the endless possibilities – we have a knack for focusing your dream into a reality.</h4>
    </div>
    <br>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-6">
          <h3>Weddings</h3>
          <br>
          <img src="http://res.cloudinary.com/dustxxgvx/image/upload/v1519008599/diana_wedding/M2D_0779.jpg" alt="decor1">
          <br><br>
          <p>From Full-Service or Partial Wedding Planning, to Day-Of Wedding Coordination Packages, 
            we offer a package that will fit your needs, no matter how much or how little you have planned!
            We dedicate ourselves to you every step of the way.
            Whether you need someone to take the reins completely, help focus your ideas into a plan of action, 
            or have it all thought out and just need someone to carry out the details – 
            Simply Elegant is here to make your special day as wonderful and stress-free as possible.</p>
        </div>
        <div class="col-sm-6">
          <h3>Special Events</h3>
          <br>
          <img src="http://res.cloudinary.com/dustxxgvx/image/upload/v1519008591/diana_wedding/209-LN9_8719-Web_copy.jpg" alt="decor1">
          <br><br>
          <p>We offer planning services for your next corporate gathering, social event, holiday, retirement, and team building events!
              We also plan birthday parties, baby showers, anniversaries, and more! 
              Any occasion, anything you need, Simply Elegant can turn it into the perfect event for you and your friends, family or business associates.
              Whatever the affair, whatever the theme, we can assure you that your event will be suited to your needs, beautifully done, and simply…elegant.</p>
        </div>
      </div>
    </div>
  
  </div>
</div>
-->