h1{
    color:#E5C100;
    font-family: 'Playfair Display', serif;
}


h2{
    font-family: 'Playfair Display', serif;
    color:#E5C100;
}

h4, p, label{
    font-family: 'Playfair Display', serif;
    color:rgb(90, 77, 0);
}

p{
    font-size: 18px;
    font-weight: 0.8;
}

i{
    font-size: 17px;
    font-weight: 0.1;
}

hr{
    background:#E5C100;
    height: 1px;
    width:60%;
}

.checked {
    color:  #D4AF37;
}

.review{
    text-align: left;
    min-height:25vh;
}

.author{
    color: rgb(255, 143, 180);;
    text-align: right;
    font-size:16px;
}


.container hr{
    background: rgb(255, 239, 244);;
    height: 2px;
    width:10%;
}

.reviewcontainer{
    grid-area: form;
    min-height:25vh;

    margin-top:4%;
}

.animcontainer{
    /** animation properties **/
	transition-property: all;
	transition-duration: .250s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1.5);
    transition: all .250;
	-webkit-transition: all .250;
	-moz-transition: all .250;
}

.reward{
    text-align:center;
    z-index  : 2;
}


.reward1{
    grid-area: reward1;
    z-index  : 2;
}

.reward2{
    grid-area: reward2;
}
.reward3{
    grid-area: reward3;
}
.reward4{
    grid-area: reward4;
}
.reward5{
    grid-area: reward5;
}
.reward6{
    grid-area: reward6;
}
.reward7{
    grid-area: reward7;
}
.reward8{
    grid-area: reward8;
}
.reward9{
    grid-area: reward9;

}
.reward10{
    grid-area: reward10;
}

.fa-chevron-left{
    position:relative;
    right:15%;
    cursor: pointer;
    font-size:2em;
    color:#D4AF37;

}
.fa-chevron-right{
    position:relative;
    left: 15%;
    cursor: pointer;
    font-size:2em;
    color:#D4AF37;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 180px min-content 180px 180px 180px;
    grid-template-areas:
    "reward1 reward2"
    "form form"
    "reward3 reward4"
    "reward5 reward6"
    "reward7 reward8"
    "reward9 reward10";
  }

@media (min-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content 180px 180px 180px;
        grid-template-areas:
        "form form form"
        "reward1 reward2 reward3"
        "reward6 reward4 reward5"
        "reward7 reward8 reward9"
        "reward10 reward10 reward10";
    }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(255, 114, 161);
}