
<h2>Reviews and Awards</h2>
<hr>
<div style = "margin: 0 20% 0 20% ">
  <h4><i>Simply Elegant has been voted into the Top 5 for Best Bay Area Wedding Planner. You can see Diana and Simply Elegant in publications such as Martha Stewart Weddings, Borrowed and Blue, Smitten Magazine, Off Beat Bride and Maharni Weddings. You can also find them online at The Knot and Weddingwire.</i></h4>
</div>
<br>
<div class="wrapper">

    <!-- reward 2016 -->
    <div class="reward reward1">
      <div class='ww-bca-2016 ww-reset'>
        <a title="Simply Elegant Weddings &amp; Events Reviews" href="https://www.weddingwire.com/reviews/simply-elegant-weddings-events-san-francisco-bay-area/a5e2bbc841d35b0b.html">
          <img alt="Simply Elegant Weddings &amp; Events Reviews" src="//www.weddingwire.com/assets/badges/BCA-2016/BCA2016-logo_2x.png" />
        </a>
      </div>
    </div>
    <!--reward 2017 -->
    <div class="reward reward2">
      <a href="https://www.weddingwire.com/reviews/simply-elegant-weddings-events-san-francisco-bay-area/a5e2bbc841d35b0b.html">
        <img src="//www.weddingwire.com/assets/badges/BCA-2017/BCA2017-logo.png" />
      </a>
    </div>
    <!-- reward 2018 -->
    <div class = "reward reward3">
      <a href="https://www.weddingwire.com/reviews/simply-elegant-weddings-events-san-francisco-bay-area/a5e2bbc841d35b0b.html">
        <img src="//www.weddingwire.com/assets/badges/BCA-2018/BCA2018-logo.png" />
      </a>
    </div>
  
    <div class = "reward reward4">
      <div id="ww-widget-wwrated-2013" class="color-gold">
        <a class="ww-top" target="_blank" title="Weddings, Wedding, Wedding Venues" href="https://www.weddingwire.com" draggable="false" style="user-select: none;"></a>
        <a class="ww-bottom" target="_blank" title="Simply Elegant Weddings &amp; Events Reviews, San Francisco, San Jose, Oakland Wedding Planning" href="https://www.weddingwire.com/reviews/simply-elegant-weddings-events-san-francisco-bay-area/a5e2bbc841d35b0b.html" draggable="false" style="user-select: none;">54 Reviews</a>
      </div>  
    </div>

    <div class ="reward reward5">
      <a href="http://offbeatbride.com/california-medieval-wedding/" target="_blank" data-content="http://offbeatbride.com/california-medieval-wedding/" data-type="external" id="comp-j0jvn9iklink" class="wp2link" style="cursor: pointer; width: 130px; height: 130px;">
          <img id="comp-j0jvn9ikimgimage" alt="" data-type="image" src="https://static.wixstatic.com/media/759440_eaf1217d415b4438ae47defb91f84262.png/v1/fill/w_130,h_130,al_c,usm_0.66_1.00_0.01/759440_eaf1217d415b4438ae47defb91f84262.png" style="width: 130px; height: 130px; object-fit: cover;">
      </a>
    </div>

    <div class = "reward reward6">
      <a href="https://www.borrowedandblue.com/san-francisco/weddings/jessica-justin--7" target="_blank" data-content="https://www.borrowedandblue.com/san-francisco/weddings/jessica-justin--7" data-type="external" id="comp-j0jw66p3link" class="wp2link" style="cursor: pointer; width: 130px; height: 130px;">
          <img id="comp-j0jw66p3imgimage" alt="" data-type="image" src="https://static.wixstatic.com/media/759440_3e0a71a21dbf46639ba7193f9289e071~mv2.png/v1/fill/w_130,h_130,al_c,lg_1/759440_3e0a71a21dbf46639ba7193f9289e071~mv2.png" style="width: 130px; height: 130px; object-fit: cover;">
      </a>
    </div>

    <div class = "reward reward7">
      <a href="http://www.maharaniweddings.com/top-indian-wedding-vendor-platinum-blog/2016-11-29/8422-san-jose-ca-indian-wedding-by-rhee-bevere-photography" target="_blank" data-content="http://www.maharaniweddings.com/top-indian-wedding-vendor-platinum-blog/2016-11-29/8422-san-jose-ca-indian-wedding-by-rhee-bevere-photography" data-type="external" id="comp-j0jvhainlink" class="wp2link" style="cursor: pointer; width: 130px; height: 130px;">
          <img id="comp-j0jvhainimgimage" alt="" data-type="image" style="width: 130px; height: 130px; object-fit: cover;" src="https://static.wixstatic.com/media/759440_c752f5160f9d4deaaa395d7e9531140a~mv2.png/v1/fill/w_130,h_130,al_c,usm_0.66_1.00_0.01/759440_c752f5160f9d4deaaa395d7e9531140a~mv2.png">
      </a>
    </div>

    <div class = "reward reward8">
        <a href="http://smitten-mag.com/romantic-industrial-inspiration/" target="_blank" data-content="http://smitten-mag.com/romantic-industrial-inspiration/" data-type="external" id="comp-j0jvkok6link" class="wp2link" style="cursor: pointer; width: 130px; height: 130px;">
            <img id="comp-j0jvkok6imgimage" alt="" data-type="image" src="https://static.wixstatic.com/media/759440_69f5d1364f4e4300910577464c078013.png/v1/fill/w_130,h_130,al_c,usm_0.66_1.00_0.01/759440_69f5d1364f4e4300910577464c078013.png" style="width: 130px; height: 130px; object-fit: cover;">
        </a>
    </div>

    <div class = "reward reward9">
      <a href="https://www.theknot.com/marketplace/simply-elegant-weddings-and-events-san-pablo-ca-870813" target="_blank" data-content="https://www.theknot.com/marketplace/simply-elegant-weddings-and-events-san-pablo-ca-870813" data-type="external" id="comp-j0jw45hflink" class="wp2link" style="cursor: pointer; width: 115px; height: 195px;">
          <img id="comp-j0jw45hfimgimage" alt="" data-type="image" style="width: 115px; height: 195px; object-fit: cover;" src="https://static.wixstatic.com/media/759440_3fb9d3ad19294c6b9b263d5864e9885c~mv2.png/v1/fill/w_115,h_195,al_c/759440_3fb9d3ad19294c6b9b263d5864e9885c~mv2.png">
      </a>
    </div>

    <div class = "reward reward10">
      <a href="http://www.marthastewartweddings.com/610642/how-to-throw-a-vegan-wedding" target="_blank" data-content="http://www.marthastewartweddings.com/610642/how-to-throw-a-vegan-wedding" data-type="external" id="i7om505mlink" class="wp2link" style="cursor: pointer; width: 216px; height: 69px;">
          <img id="i7om505mimgimage" alt="" data-type="image" src="https://static.wixstatic.com/media/759440_dfc816ef2bb74e908b3d332731686dfc.png/v1/fill/w_216,h_69,al_c,usm_0.66_1.00_0.01/759440_dfc816ef2bb74e908b3d332731686dfc.png" style="width: 216px; height: 69px; object-fit: cover;">
      </a>
    </div>

    <div class = "reward reward11">
      <a href="https://www.minted.com/wedding" target="_blank" data-content="https://www.minted.com/wedding" style="cursor: pointer; width: 180px; height: 180px;">
          <img alt="" data-type="image" src="../../assets/images/minted.jpg" style="width: 180px; height: 180px; object-fit: cover;">
      </a>
    </div>

    <div class = "reward reward12">
      <a href="https://www.loveandlavender.com/wedding/us/winter-wonderland-wedding/#vendors" target="_blank" style="cursor: pointer; width: 160px; height: 160px;">
          <img alt="" data-type="image" src="../../assets/images/LoveLavender-Badge_125.jpg" style="width: 160px; height: 160px; object-fit: cover;">
      </a>
    </div>


    <div class = "reward reward13">
      <a href="http://www.aprincessinspired.com/a-winter-wonderland-fairytale-wedding-inspiration-at-the-resort-at-squaw-creek/?fbclid=IwAR3IaiuBbPDC66TbFFfZVnwqdECjIwQYaEs0tBV-qgi9H0WOz7xcIiZYBnc" target="_blank" style="cursor: pointer; width: 160px; height: 160px;">
          <img alt="" data-type="image" src="../../assets/images/princessinspired.png" style="width: 160px; height: 160px; object-fit: cover;">
      </a>
    </div>

    <!-- reviews -->
    <div class = "reviewcontainer">
      <div class = "container animcontainer" [style.opacity]="reviewYPos" >
        <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <hr style="margin-top:0;">
            <div class="review">
              <p>{{review.getDescription()}} </p>
              <div class="author">- {{review.getName()}}</div>
            </div>
        </div>
      </div>
      <div class="fas fa-chevron-left" (click) = "onBackPressed()"><p>back</p></div><div class="fas fa-chevron-right" (click) = "onNextPressed()" ><p>next</p></div>
      <a href="https://www.yelp.com/biz/simply-elegant-weddings-and-events-san-pablo"><h4><u>Check out <span style="color:#c41200">Yelp</span> reviews here</u></h4></a>
      <br>
  </div>
  </div>
  <app-footer></app-footer>
