
<h2>Reviews and Awards</h2>
<hr>
<div class="wrapper">

    <!-- reward 2016 -->
    <div class="reward reward1">
      <div class='ww-bca-2016 ww-reset'>
        <a title="Simply Elegant Weddings &amp; Events Reviews" href="https://www.weddingwire.com/reviews/simply-elegant-weddings-events-san-francisco-bay-area/a5e2bbc841d35b0b.html">
          <img alt="Simply Elegant Weddings &amp; Events Reviews" src="//www.weddingwire.com/assets/badges/BCA-2016/BCA2016-logo_2x.png" />
        </a>
      </div>
    </div>
    <!--reward 2017 -->
    <div class="reward reward2">
      <a href="https://www.weddingwire.com/reviews/simply-elegant-weddings-events-san-francisco-bay-area/a5e2bbc841d35b0b.html">
        <img src="//www.weddingwire.com/assets/badges/BCA-2017/BCA2017-logo.png" />
      </a>
    </div>
    <!-- reward 2018 -->
    <div class="reward reward3">
      <a href="https://www.weddingwire.com/reviews/simply-elegant-weddings-events-san-francisco-bay-area/a5e2bbc841d35b0b.html">
        <img src="//www.weddingwire.com/assets/badges/BCA-2018/BCA2018-logo.png" />
      </a>
    </div>
  
    <!-- reviews -->
    <div class="reward reward4">
      <div id="ww-widget-wwrated-2013" class="color-gold">
        <a class="ww-top" target="_blank" title="Weddings, Wedding, Wedding Venues" href="https://www.weddingwire.com" draggable="false" style="user-select: none;"></a>
        <a class="ww-bottom" target="_blank" title="Simply Elegant Weddings &amp; Events Reviews, San Francisco, San Jose, Oakland Wedding Planning" href="https://www.weddingwire.com/reviews/simply-elegant-weddings-events-san-francisco-bay-area/a5e2bbc841d35b0b.html" draggable="false" style="user-select: none;">54 Reviews</a>
      </div>  
    </div>
  
    <div class = "container">
      <div>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <hr>
          <div class="review">
            <p>{{review.getDescription()}} </p>
            <div class="author">- {{review.getName()}}</div>
          </div>
      </div>
      <div class="fas fa-chevron-left" (click) = "onBackPressed()"></div><div class="fas fa-chevron-right" (click) = "onNextPressed()" ></div>
    </div>


  
  </div>