h1{
    color:#E5C100;
    font-family: 'Playfair Display', serif;
}


h2{
    font-family: 'Playfair Display', serif;
    color:#E5C100;
}

h4, p, label{
    font-family: 'Playfair Display', serif;
    color:rgb(90, 77, 0);
}

p{
    font-size: 18px;
    font-weight: 0.8;
}

i{
    font-size: 17px;
    font-weight: 0.1;
}

hr{
    background:#E5C100;
    height: 1px;
    width:60%;
}

.checked {
    color:  #D4AF37;
}

.review{
    text-align: left;
    min-height:25vh;
}

.author{
    color: rgb(255, 143, 180);;
    text-align: right;
    font-size:16px;
}


.container hr{
    background: rgb(255, 239, 244);;
    height: 2px;
    width:10%;
}



.animcontainer{
    /** animation properties **/
	transition-property: all;
	transition-duration: .250s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1.5);
    transition: all .250;
	-webkit-transition: all .250;
	-moz-transition: all .250;
}
.fa-chevron-left{
    position:relative;
    right:15%;
    cursor: pointer;
    font-size:2em;
    color:#D4AF37;
}

.fa-chevron-right{
    position:relative;
    left: 15%;
    cursor: pointer;
    font-size:2em;
    color:#D4AF37;
}
.reward{
    text-align:center;
    z-index  : 2;
}

.reviewcontainer{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: form;
    min-height:25vh;
    margin-top:4%;
}

.reward1{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: reward1;
    z-index  : 2;
}
.reward2{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: reward2;
}
.reward3{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: reward3;
}
.reward4{
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: reward4;
}
.reward5{
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: reward5;
}
.reward6{
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: reward6;
}
.reward7{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: reward7;
}
.reward8{
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: reward8;
}
.reward9{
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: reward9;
}
.reward10{
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: reward10;
}
.reward11{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: reward11;
}
.reward12{
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: reward12;
}
.reward13{
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: reward13;
}

.wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 180px -webkit-min-content 180px 180px 180px;
    grid-auto-rows: 180px min-content 180px 180px 180px;
        grid-template-areas:
    "reward1 reward2"
    "form form"
    "reward3 reward4"
    "reward5 reward6"
    "reward7 reward8"
    "reward9 reward10"
    "reward11 reward12"
    "reward13 reward13";
  }

@media (min-width: 800px) {
    .wrapper {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: -webkit-min-content 180px 180px 180px;
        -ms-grid-rows: min-content 180px 180px 180px;
        grid-template-rows: -webkit-min-content 180px 180px 180px;
        grid-template-rows: min-content 180px 180px 180px;
            grid-template-areas:
        "form form form"
        "reward1 reward2 reward3"
        "reward6 reward4 reward5"
        "reward7 reward8 reward12"
        "reward10 reward11 reward9"
        "reward13 reward13 reward13";
        }
    .reviewcontainer {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        }
    .reward1 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        }
    .reward2 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        }
    .reward3 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        }
    .reward4 {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        }
    .reward5 {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
        }
    .reward6 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        }
    .reward7 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        }
    .reward8 {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
        }
    .reward9 {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
        }
    .reward10 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        }
    .reward11 {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        }
    .reward12 {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
        }
    .reward13 {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(255, 114, 161);
}