<!-- Container (About Section) -->
<div class="maindiv-opened"  *ngIf="show">
  <div class="container">
    <div id="about" class="container-fluid bg-grey" >
      <div class="row">
        <div class="col-sm-12">
          <h2>About Us</h2>
          <h4>Here at Simply Elegant we strive for perfection and quality and make sure that even the smallest detail is not overlooked.
            We are dedicated and focused on providing you with seamless and gorgeous events, and work with fantastic event partners to make your special event come to life.</h4>
          <h4>It has become our mission and goal as wedding and event planners to create a dream come true for our clients.
            We are committed to delivering a stress free environment as we coordinate each detail so that you may relax and focus on the heart of the matter while.
            We take on the load of what seems like a thousand impossible tasks so that you can fully experience and <strong>enjoy your special day!</strong></h4>
        </div>
        <br><br>

      </div>
    </div>
    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-4">
          <img src="http://res.cloudinary.com/dustxxgvx/image/upload/c_scale,h_1720,q_55/v1520916315/diana_wedding/Simply_Elegant-9.jpg" alt="">
        </div>
        <div class="col-sm-8">
          <h2>Diana Dorsey</h2>
          <h4>Owner and Event Planner</h4>
          <br>
          <p>Passionate, perfectionist, and dedicated, Diana has been planning events since she was 15 years old.
              What began with coordinating music and choreography for Quinceaneras has blossomed into a full-fledged career and a flourishing passion.
              Growing up, she always had a talent for organizing, creating and beautifying events, and planning her own wedding confirmed that this enthusiasm and flair for coordinating events was a force to be reckoned with.
              Since then she has made it her purpose to learn and take in everything there is to know about the wedding industry.</p>
          <p>With a background in education, a Bachelor’s Degree in Business Administration, and a strong attention to detail, Diana has successfully and beautifully coordinated over 100 weddings,
              and makes it her priority to provide a wonderful and memorable event for her clients while removing any stress or worry they may feel surrounding their big day. </p>
          <p><i>“I love that I get to meet amazing people and be a part of their special day!”</i> Diana beams.</p>
          <p><i>“For the past five years, I’ve helped couples have an amazing experience while remaining within their projected budgets.
            I do the planning, budgeting and coordinating so that you get to focus on the <b>exciting</b> parts of designing your wedding, like sampling cakes, trying on gorgeous wedding gowns, and selecting the perfect invitation.
            I want my clients to have the best day possible and do everything in my power to make that happen.”</i></p>
          <p>Diana prides herself on making couples happy, one wedding at a time.</p>
          <p>When she is not intently planning your gorgeous wedding day, Diana can be found at home hosting events of her own for family and friends, spending time with her three amazing daughters and traveling.</p>
          
        </div>
      </div>
    </div>
    <div id="about" class="container-fluid bg-grey" >
        <div class="row">
          <div class="col-sm-8">
            <h2>Ivonne Gonzalez</h2>
            <h4>Event Coordinator</h4>
            <br>
            <p><i>“First of all, I would like to thank Diana for giving me the amazing opportunity of being a part of her team,”</i> Ivonne says with a smile. </p>
            <p><i>“I am very excited to be on board with Simply Elegant Weddings & Events. 
            I love learning new things, and when Diana reached out to me to help her with her weddings, I was more than excited!
            I have a background in education which has taught me great skills that will help me make your day run as smoothly and as beautifully as you ever imagined!”</i></p>
            
            <p>Ivonne is very patient, and kind, and this shows in the work that she does, as she is always willing to go above and beyond to make sure that every couple enjoys their special day.
              You will always see her with a great sense of humor, smiling and ready to take on whatever she has to so that you are always at ease! </p>
            
            <p>Ivonne now has 2 years of experience in event planning, and knows a great deal about coordinating a wedding. Her dedication and loyalty to her clients shines through in every event. She loves weddings, and wants more than anything for you to love yours!
            When Ivonne is not planning events, she loves to spend time with her family and have fun with her friends. She enjoys going to zumba class as well!</p>
          
          </div>
          <br><br>
          <div class="col-sm-4">
            <img src="http://res.cloudinary.com/dustxxgvx/image/upload/c_scale,h_1720,q_55/v1520916347/diana_wedding/Simply_Elegant-50.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="container-fluid bg-grey">
        <div class="row">
          <div class="col-sm-4">
            <img src="http://res.cloudinary.com/dustxxgvx/image/upload/c_scale,h_1720,q_55/v1520916335/diana_wedding/Head_Shots-12.jpg" alt="">
          </div>
          <div class="col-sm-8">
            <h2>Carla Garcia</h2>
            <h4>Event Coordinator</h4>
            <br>
            <p>Carla developed a passion for Event Planning early on - making birthday cupcakes for friends and family as a young girl sparked her interest, and this grew into a love of planning parties and putting on the best possible events, from various cultural wedding ceremonies to Bay Area Destination Weddings.
 
                “I am extremely honored to join Simply Elegant Weddings & Events,” Carla says,  ”and being able to continue my passion on a larger scale. It is amazing being able to see how everything comes together to become a day you will remember forever!”
                 
                Carla is currently studying Business Administration and working to widen her knowledge in all aspects of event planning. She has acquired skills and knowledge through her experiences that will help make your big day run smoothly! Carla prides herself on above and beyond to make sure your event is a success - her main goal is to make sure you’re smiling and relaxed so you can enjoy your special day!
                 
                Not only does Carla have wide array of event experience, she is also passionate about celebrating different cultures, and has a knack for understanding and integrating cultural traditions into the event and making it all the more meaningful. Carla has coordinated beautiful and elegant Chinese, Jewish and Filipino weddings, and would LOVE the opportunity to help you and your family and friends experience this special day in the best way possible to suit your needs!
                
                When she is not planning your wedding or party, Carla enjoys going to sporting events on concerts, trying out new restaurants and spending time with her friends. While she loves to get out and stay busy, Carla is also perfectly happy at home watching something entertaining on Netflix.</p>
            
          </div>
        </div>
      </div>
  </div>
  <app-footer></app-footer>

</div>
