<!-- Container (About Section) -->
<div class="maindiv-opened"  *ngIf="show">
  <div class="container">
    <div id="about" class="container-fluid bg-grey" >
        <div class="row">
          <div class="col-sm-8">
            <h2>About Us</h2>
            <h4>Here at Simply Elegant we strive for perfection and quality and make sure that even the smallest detail is not overlooked.
              We are dedicated and focused on providing you with seamless and gorgeous events, and work with fantastic event partners to make your special event come to life.</h4>
            <h4>It has become our mission and goal as wedding and event planners to create a dream come true for our clients.
              We are committed to delivering a stress free environment as we coordinate each detail so that you may relax and focus on the heart of the matter while.
              We take on the load of what seems like a thousand impossible tasks so that you can fully experience and <strong>enjoy your special day!</strong></h4>
          </div>
          <br><br>
          <div class="col-sm-4">
            <img src="http://res.cloudinary.com/dustxxgvx/image/upload/v1519008643/diana_wedding/IMG_8139.jpg" alt="">
          </div>
        </div>
      </div>
      <hr>
      <div class="container-fluid bg-grey">
        <div class="row">
          <div class="col-sm-4">
            <img src="http://res.cloudinary.com/dustxxgvx/image/upload/v1519008587/diana_wedding/19250687_141727154834.jpg" alt="">
          </div>
          <div class="col-sm-8">
            <h2>Diana Dorsey</h2>
            <h4>Owner and Event Planner</h4>
            <br>
            <p>Passionate, perfectionist, and dedicated, Diana has been planning events since she was 15 years old.
               What began with coordinating music and choreography for Quinceaneras has blossomed into a full-fledged career and a flourishing passion.
               Growing up, she always had a talent for organizing, creating and beautifying events, and planning her own wedding confirmed that this enthusiasm and flair for coordinating events was a force to be reckoned with.
               Since then she has made it her purpose to learn and take in everything there is to know about the wedding industry.</p>
            <p>With a background in education, a Bachelor’s Degree in Business Administration, and a strong attention to detail, Diana has successfully and beautifully coordinated over 100 weddings,
               and makes it her priority to provide a wonderful and memorable event for her clients while removing any stress or worry they may feel surrounding their big day. </p>
            <h5><i>“I love that I get to meet amazing people and be a part of their special day!”</i> Diana beams.</h5>
            <h5><i>“For the past five years, I’ve helped couples have an amazing experience while remaining within their projected budgets.
              I do the planning, budgeting and coordinating so that you get to focus on the <b>exciting</b> parts of designing your wedding, like sampling cakes, trying on gorgeous wedding gowns, and selecting the perfect invitation.
              I want my clients to have the best day possible and do everything in my power to make that happen.”</i></h5>
            <p>Diana prides herself on making couples happy, one wedding at a time.</p>
            <p>When she is not intently planning your gorgeous wedding day, Diana can be found at home hosting events of her own for family and friends, spending time with her three amazing daughters and traveling.</p>
            
          </div>
        </div>
      </div>
      <hr>
      <div id="about" class="container-fluid bg-grey" >
          <div class="row">
            <div class="col-sm-8">
              <h2>Ivonne Gonzalez</h2>
              <h4>Event Coordinator</h4>
              <br>
              <h5><i>“First of all, I would like to thank Diana for giving me the amazing opportunity of being a part of her team,”</i> Ivonne says with a smile. </h5>
              <h5><i>“I am very excited to be on board with Simply Elegant Weddings & Events. 
              I love learning new things, and when Diana reached out to me to help her with her weddings, I was more than excited!
              I have a background in education which has taught me great skills that will help me make your day run as smoothly and as beautifully as you ever imagined!”</i></h5>
              
              <p>Ivonne is very patient, and kind, and this shows in the work that she does, as she is always willing to go above and beyond to make sure that every couple enjoys their special day.
                You will always see her with a great sense of humor, smiling and ready to take on whatever she has to so that you are always at ease! </p>
              
              <p>Ivonne now has 2 years of experience in event planning, and knows a great deal about coordinating a wedding. Her dedication and loyalty to her clients shines through in every event. She loves weddings, and wants more than anything for you to love yours!
              When Ivonne is not planning events, she loves to spend time with her family and have fun with her friends. She enjoys going to zumba class as well!</p>
            
            </div>
            <br><br>
            <div class="col-sm-4">
              <img src="http://res.cloudinary.com/dustxxgvx/image/upload/v1519008643/diana_wedding/IMG_8139.jpg" alt="">
            </div>
          </div>
        </div>
  </div>
</div>
